[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DTEAssurance"]
	path = DTEAssurance
	url = https://github.com/jamesalsbury/dteassurance
